.checkout{
    margin: 50px auto;
    width: 60%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    text-align: center;
    padding: 50px;
}

.forminput{
    border: 2px solid grey;
    padding: 5px;
    border-radius: 10px;
    width: 300px;
    outline: 0;
}